<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <title>Home</title>
</head>
<body>
    <h1 style="text-align: center;">ToDo App</h1>
    <a href="/add"><button type="button" class="btn btn-secondary">Add Item</button></a>
    <table class="table">
        {% for document in documents %}
        <thead>
            <tr>
                <th class="text-center">{{document.get('Title')}}</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td class="text-center">{{document.get('Description')}}</td>
            </tr>
            <tr>
                <td class="text-center">{{document.get('Status')}} | 
                    {% if document.get('Status') == 'Undone' %}
                    <a href="/mark_as_done/{{document.get('_id')}}">Mark as Done</a>
                    {% else %}
                    <a href="/mark_as_undone/{{document.get('_id')}}">Mark as Undone</a>
                    {% endif %}
                </td>
            </tr>
            <tr>
                <td class="text-center"><a href="/update/{{document.get('_id')}}">Update</a> | 
                <a href="/delete/{{document.get('_id')}}">Delete</a>
                </td>
            </tr>      
        </tbody>
        {% endfor %}
    </table>
</body>
</html>